<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="card" >
                <div class="card-body" style="width:1200px">
                  <h4 class="card-title">Products</h4>
                  <p class="card-description">
                    Basic form elements
                  </p>
                  <form class="forms-sample" method="POST" action="{% url 'Saveproduct' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                      <div class="form-group">
                    <label>Please Select a Category</label>
                    <select class="js-example-basic-single w-100 select2-hidden-accessible" tabindex="-1" aria-hidden="true" name="Cname">
                      <option selected="">Category</option>
                      {% for i in cat %}
                      <option>{{i.Catname}}</option>
                      {% endfor %}
<!--                      <option value="AM">America</option>-->
<!--                      <option value="CA">Canada</option>-->
<!--                      <option value="RU">Russia</option>-->
                    </select>
                  </div>
                    <div class="form-group">
                      <label for="exampleInputName1">Product Name</label>
                      <input type="text" class="form-control" id="exampleInputName1" placeholder="Product Name" name="Pname">
                    </div>
                      <div class="form-group">
                      <label for="exampleInputName1">Quantity</label>
                      <input type="text" class="form-control" id="exampleInputName1" placeholder="Quantity" name="Quantity">
                    </div>
                      <div class="form-group">
                      <label for="exampleInputName1">Price</label>
                      <input type="text" class="form-control" id="exampleInputName1" placeholder="Price" name="Price">
                    </div>
                      <div class="form-group">
                      <label for="exampleTextarea1">Description</label>
                      <textarea class="form-control" id="exampleTextarea1" rows="4" name="Description"></textarea>
                    </div>

                    <div class="form-group">
                      <label for="exampleInputName1">Country of origin</label>
                      <input type="text" class="form-control" id="exampleInputName1" placeholder="origin" name="Country">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputName1">Manufactured By</label>
                      <input type="text" class="form-control" id="exampleInputName1" placeholder="Manufacture" name="Manufacture">
                    </div>

                    <div class="mb-3">
                                <label for="formFileMultiple" class="form-label">Upload profile image</label>
                                <input class="form-control bg-dark" type="file" id="formFileMultiple" multiple="" name="image1">
                            </div>
                     <div class="mb-3">
                                <label for="formFileMultiple" class="form-label">Upload profile image</label>
                                <input class="form-control bg-dark" type="file" id="formFileMultiple" multiple="" name="image2">
                            </div>
                     <div class="mb-3">
                                <label for="formFileMultiple" class="form-label">Upload profile image</label>
                                <input class="form-control bg-dark" type="file" id="formFileMultiple" multiple="" name="image3">
                            </div>

<!--                    <div class="form-group">-->
<!--                      <label>Category Image</label>-->
<!--                      <input type="file" name="img[]" class="file-upload-default">-->
<!--                      <div class="input-group col-xs-12">-->
<!--                        <input type="text" class="form-control file-upload-info" disabled="" placeholder="Upload Image" name="image">-->
<!--                        <span class="input-group-append">-->
<!--                          <button class="file-upload-browse btn btn-primary" type="file">Upload</button>-->
<!--                        </span>-->
<!--                      </div>-->
<!--                    </div>-->


                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                    <button class="btn btn-light">Cancel</button>
                  </form>
                </div>
              </div>
</body>
</html>
{% endblock %}